<div class="large-6 small-centered columns">
  <h1>Posts</h1>
  <ul>
    <% @articles.each do |article| %>
      <li><%= link_to article.name, article %> <%= article.date %></li>
    <% end %>
  </ul>
</div>