<div class="large-6 small-centered columns">
  <h1>Editing work</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @work %> |
  <%= link_to 'Back', works_path %> |
  <%= link_to "Destroy", @work, method: :delete, data: { confirm: "Are you sure?" } %>
</div>