<div class="large-6 small-centered columns">
  <h1>
    About Me
  </h1>
  <p>
    Hey guys! My name is Danny.<br />
    I'm currently a Senior at Binghamton University, majoring in Computer Science.
  </p>
  <p>
    I love tinkering with <icon class="fi-laptop"> Ruby/Rails</icon>, <icon class="fi-music"> playing guitar/singing</icon>, and <icon class="fi-torsos"> running</icon> on my spare time.
  </p>
  <p>
    Currently looking for a entry-level Ruby on Rails developer position or internship!
  </p>
</div>