<div class="centered">
  <div class="large-6 small-centered columns">
    <h1 id="header-text">
      Danny Yu
    </h1>
    <p>
      NYC Based Ruby on Rails Developer
    </p>
  </div>
</div>

<div class="large-8 small-centered columns">
  <h3>Posts</h3>
  <hr>
  <ul>
    <% if @recent_articles %>
      <% @recent_articles.each do |article| %>
        <li><%= link_to article.name, article %> <%= article.date %></li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "View More Posts", articles_path %>
</div>

