<div class="centered">
  <div class="large-6 small-centered columns">
    <h1 id="header-text">
      Danny Yu
    </h1>
    <p>
      NYC Based Ruby on Rails Developer
    </p>
  </div>
</div>

<div class="large-8 small-centered columns">
  <hr>
    
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt posuere purus ut tincidunt. Donec imperdiet nulla massa, in ullamcorper orci posuere et. Nunc varius pulvinar fermentum. Cras nec lorem ut felis venenatis convallis. Vestibulum hendrerit eu elit et feugiat. Phasellus vitae metus erat. Vivamus at neque felis. Sed aliquam ac massa vel sagittis. Curabitur at nulla et risus pharetra lobortis ut sed mi. Vivamus feugiat ullamcorper consectetur.

    Nam ullamcorper rhoncus purus vel lobortis. Phasellus dapibus sollicitudin mauris in gravida. Donec mattis diam luctus fermentum gravida. Fusce eu ornare elit, nec interdum tellus. Donec accumsan placerat lorem ut tempus. Proin sit amet nulla ut nunc tempus iaculis eget nec est. Sed pretium odio sodales, varius lacus et, ullamcorper nisl. Aenean id blandit mi, nec elementum augue. 
  </p>
</div>

