<div class="row">
  <div class="large-6 small-centered columns">
    <h1 id="header-text">
      It's a JACKY world
    </h1>
    <h5>
      The world is as jacky as you make it, for my convenience I made it SUPAH JACKY.
    </h5>
  </div>
</div>