<div class="large-6 small-centered columns">
  <h1>Editing project</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %> |
  <%= link_to "Destroy", @project, method: :delete, data: { confirm: "Are you sure?" } %>
</div>