// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	text-align:center;
}

/*
.header_image {
	position:relative;
	width: 100%;
	height: auto;
	padding-bottom:50px;
}

.circle_head {
	margin-top:-120px;
	position:relative;
	margin: 0 auto;
	bottom:100px;
	border-radius: 100%;
	width: 120px;
	height: auto;
	border: 5px solid #ffffff;
}
*/