<div class="large-6 small-centered columns">
  <h1>Add Resume</h1>

  <%= link_to 'Add Resume', new_resume_path, class:"button tiny radius" %>
  <%= link_to 'Back', root_path, class:"button tiny radius" %>


</div>