<footer class="footer">
  <nav>
    <div class="right">
      <ul class="inline-list">
        <li><i class="fi-mail"> <%= mail_to "danny@himynameisdanny.com" %></i></li>
        <% unless @global_resume.nil? %>
          <li><icon class="fi-page-pdf"> <%= link_to "Resume", "https://s3.amazonaws.com/dannyyusite/uploads/DannyYuResume.pdf" %></icon></li>
        <% end %>
        <li><icon class="fi-social-github"> <%= link_to "Github", "http://github.com/dannyyu92" %></icon></li>
      </ul>
    </div>
  </nav>
</footer>